@model Magda.Models.GuestList

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>GuestList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (!(Model.Guests is null))
            {
                @foreach (var guest in Model.Guests)
                {
                    <p>@guest.Name</p>
                    <p>@guest.Surname</p>

                }
            }
            <input type="hidden" asp-for="ListId" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        @using (Html.BeginForm("Create", "EvetGuest", FormMethod.Post))
        {
            <input hidden="hidden" name="ListId" type="text" value="@Model.ListId" />
            <input type="submit" value="Create Guest List" />
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
