html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a {
    color: #193561;
    text-decoration: none;
    font-weight: 600;
    transition: .2s;
}
a:hover {
    color: #244b8a; text-decoration: underline;

}